doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
  body
    div.container
      block content
      block errors
      block results
