extends layout

block content
    form(action="", name="leaderboard-form", method="post")
        div.field
            div.control
                span.label Players quantity
                input.input.is-primary(type="text", name="players")

        div.field
            div.control
                span.label Player's results in descending order
                input(type="text",class="input is-primary", placeholder="example: 1444 1333 1121 1000" name="scores")

        div.field
            div.control
                span.label Alice's games quantity
                input(type="text",class="input is-primary", name="aliceGames")

        div.field
            div.control
                span.label Alice's results in each game
                input(type="text",class="input is-primary", placeholder="example: 1444 1333 1121 1000" name="aliceScores")
        div.field
            div.control
                button.button.is-link(type="submit", value="checkRank") Get Rank
if errors
    p=errors

    block results
        ul
            each rank,i in ranks
                label.label='game  '+ (i+1) +' Alice\'s rank : ' + rank
  



